@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Colors */
body {
    --sb-track-color: #cecbcb;
    --sb-thumb-color: #ff6363;
    --sb-size: 5px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;
}

@layer components {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-bg-light dark:bg-bg-dark;
    }

    /* calendar heatmap  */
    .react-calendar-heatmap .color-empty {
        fill: #cecece;
    }
    .react-calendar-heatmap .color-scale-1 {
        fill: #ff9800;
    }
    .react-calendar-heatmap .color-scale-2 {
        fill: #ff6d00;
    }
    .react-calendar-heatmap .color-scale-3 {
        fill: #ff4500;
    }
}
